/*-------------------------case1:天气-----------------*/
    
    @font-face {
    font-family: "weatherFont";
    src: url('weatherFont/fonts/fonts/weatherFont.eot') format("embedded-opentype"),
    url('weatherFont/fonts/fonts/weatherFont.svg') format("svg"),
    url('weatherFont/fonts/fonts/weatherFont.ttf') format("true-type"),
    url('weatherFont/fonts/fonts/weatherFont.woff') format("woff");
}

    [class^="weather-"],
    [class*="weather-"] {
        font-family: "weatherFont";
        font-style: normal;
        display: inline-block;
        width: 30px;
        height: 30px;
        color: white;
    }
    span.backHome{
        width: 50px;
        height: 50px;
        font-size: 25px;
        /*color: red;*/
        cursor: pointer;
    }
    div#myweather{
        width: 900px;
        height: 250px;
        position: absolute;
        left: 10px;
        top: 25px;
        /*margin: 100px auto;*/
        /*margin-top: 25px;*/
    }

    div.tianqi,
    div.fivedays{
        width: 250px;
        height: 250px;
        /*margin: 20px auto;*/
        padding: 20px;
        background-color: lightcyan;
        /*border-radius: 20px;*/
        float: left;
        position: relative;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        /*border:1px dashed lightseagreen;*/
    }
    div#myweather div#show ul li.tem{
        font-size: 36px;
        color: white;
    }

    div#myweather div.fivedays{
        width: 400px;
        text-align: center;
        float: left;
        margin-left: 1px;
        display: none;
    }

    div#myweather div.fivedays ul li {
        float: left;
        width: 80px;
        height: 40px;
    }


    ul{
        list-style: none;
    }

    div#myweather select {
        background-color: transparent;
        border: 0px;
        outline: none;
    }

    div#myweather option {
        background-color: lightcyan;
    }

    div#myweather button {
        background-color: transparent;
        outline: none;
        padding: 5px;
        border: 1px solid white;
        margin-left: 20px;
        border-radius: 10px;
    }

    div#myweather span#dayw,
    span#nightw{
        width: 50px;
        height: 50px;
        font-size: 60px;
        color: white;
        position: absolute;
        top: 50px;
        right: 30px;
        animation: cloudmove 10s infinite ease-in-out alternate;
    }
    div#myweather span#nightw{
        top: 120px ;
        animation: cloudmove 10s  infinite 5s ease-in-out alternate;
    }
    @keyframes cloudmove{
       from{right: 30px;}
       to{right: 100px;}
    }
