@font-face {
  font-family: 'weatherFont';
  src:  url('fonts/weatherFont.eot?iid6xi');
  src:  url('fonts/weatherFont.eot?iid6xi#iefix') format('embedded-opentype'),
    url('fonts/weatherFont.ttf?iid6xi') format('truetype'),
    url('fonts/weatherFont.woff?iid6xi') format('woff'),
    url('fonts/weatherFont.svg?iid6xi#weatherFont') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="weather-"], [class*=" weather-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'weatherFont' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.weather-sunrise:before {
  content: "\e900";
}
.weather-sun:before {
  content: "\e901";
}
.weather-moon:before {
  content: "\e902";
}
.weather-sun2:before {
  content: "\e903";
}
.weather-windy:before {
  content: "\e904";
}
.weather-wind:before {
  content: "\e905";
}
.weather-snowflake:before {
  content: "\e906";
}
.weather-cloudy:before {
  content: "\e907";
}
.weather-cloud:before {
  content: "\e908";
}
.weather-weather:before {
  content: "\e909";
}
.weather-weather2:before {
  content: "\e90a";
}
.weather-weather3:before {
  content: "\e90b";
}
.weather-lines:before {
  content: "\e90c";
}
.weather-cloud2:before {
  content: "\e90d";
}
.weather-lightning:before {
  content: "\e90e";
}
.weather-lightning2:before {
  content: "\e90f";
}
.weather-rainy:before {
  content: "\e910";
}
.weather-rainy2:before {
  content: "\e911";
}
.weather-windy2:before {
  content: "\e912";
}
.weather-windy3:before {
  content: "\e913";
}
.weather-snowy:before {
  content: "\e914";
}
.weather-snowy2:before {
  content: "\e915";
}
.weather-snowy3:before {
  content: "\e916";
}
.weather-weather4:before {
  content: "\e917";
}
.weather-cloudy2:before {
  content: "\e918";
}
.weather-cloud3:before {
  content: "\e919";
}
.weather-lightning3:before {
  content: "\e91a";
}
.weather-sun3:before {
  content: "\e91b";
}
.weather-moon2:before {
  content: "\e91c";
}
.weather-cloudy3:before {
  content: "\e91d";
}
.weather-cloud4:before {
  content: "\e91e";
}
.weather-cloud5:before {
  content: "\e91f";
}
.weather-lightning4:before {
  content: "\e920";
}
.weather-rainy3:before {
  content: "\e921";
}
.weather-rainy4:before {
  content: "\e922";
}
.weather-windy4:before {
  content: "\e923";
}
.weather-windy5:before {
  content: "\e924";
}
.weather-snowy4:before {
  content: "\e925";
}
.weather-snowy5:before {
  content: "\e926";
}
.weather-weather5:before {
  content: "\e927";
}
.weather-cloudy4:before {
  content: "\e928";
}
.weather-lightning5:before {
  content: "\e929";
}
.weather-thermometer:before {
  content: "\e92a";
}
.weather-compass:before {
  content: "\e92b";
}
.weather-none:before {
  content: "\e92c";
}
.weather-Celsius:before {
  content: "\e92d";
}
.weather-Fahrenheit:before {
  content: "\e92e";
}
